@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg) translateX(50%) scale(1.3);
  }
  100% {
    transform: rotate(330deg);
  }
}

.arrowContainer {
  height: 100%;
  width: 100%;
}

.arrowSvg {
  transform-origin: center;
  height: inherit;
  width: inherit;
}

.shape {
  fill: var(--theme-yellow);
  stroke: var(--theme-black);
  stroke-miterlimit: 10;
  stroke-width: 4px;
}

.spinning {
  animation: rotation 18s infinite;
}

.loading {
  animation: rotation 500ms linear;
}

.arrowDown {
  transform: rotate(330deg);
}