@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse-right {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.1) rotate(3deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes pulse-left {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.1) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

.eventCard .btn {
  transition: all 150ms ease-in;
  opacity: 0;
}

.eventCard:hover .btn {
  opacity: 1;
}

.appear {
  animation: appear 350ms ease-in;
}

.loading {
  opacity: 0;
}

.arrow {
  fill: var(--theme-yellow);
  stroke: var(--theme-black);
  stroke-miterlimit: 10;
  stroke-width: 12px;
}

.btnLeft {
  left: -22px;
  position: absolute;
  top: 48%;
}

.btnRight {
  right: -22px;
  position: absolute;
  top: 48%;
}

.btnLeft:hover svg, .btnLeft:focus svg {
  animation: pulse-left 250ms ease-in-out;
}

.btnRight:hover svg, .btnRight:focus svg {
  animation: pulse-right 250ms ease-in-out;
}
