@font-face {
  font-family: "Outfit";
  src: url('../fonts/Outfit.ttf') format('truetype-variations');
  font-style: normal;
  font-weight: 300 700;
  font-width: 75 125;
  font-display: swap;
}

@font-face {
  font-family: "Outfit Bold";
  src: url('../fonts/Outfit.ttf') format('truetype-variations');
  font-style: bold;
  font-weight: 700;
  font-width: 75 125;
  font-display: swap;
}

:root {
  --theme-red: #D81E5B;
  --theme-orange: #FA7D4B;
  --theme-light-red: #ef476f40;
  --theme-yellow: #ffd166;
  --theme-light-yellow: #ffd16640;
  --theme-green: #06d6a0;
  --theme-light-green: #06d6a040;
  --theme-blue: #118ab2;
  --theme-light-blue: #118ab240;
  --theme-purple: #51355a;
  --theme-light-purple: #d7d1d8;
  --theme-black: #030F12;
  --theme-white: #FFFFFF;
  --theme-light-grey: #f1f5f9;
  --theme-font-title: 'Outfit Bold';
  --theme-font-body: 'Outfit';
}


@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
}

html,
body {
/*  background-color: var(--theme-white);*/
  color: var(--theme-black);
  padding: 0;
  margin: 0;
  font-family: var(--theme-font-body), Helvetica Neue, sans-serif;
  font-size: 18px;
/*  cursor: url('../assets/cursor.svg'), url('../assets/cursor.png'), auto;*/
/*  scroll-behavior: smooth;*/
}

.page-bg-rainbow {
  background-image: linear-gradient(to bottom, var(--theme-light-blue) 0%, var(--theme-light-purple) 20%, var(--theme-light-red) 40%, var(--theme-light-yellow) 60%, var(--theme-light-green) 80%, var(--theme-light-blue) 100%);
}

.page-bg-blue {
  background-image: linear-gradient(to bottom, var(--theme-light-blue) 0%, var(--theme-light-purple) 100%);
}

.page-bg-purple {
  background-image: linear-gradient(to bottom, var(--theme-light-purple) 0%, var(--theme-light-red) 100%);
}

.page-bg-red {
  background-image: linear-gradient(to bottom, var(--theme-light-red) 0%, var(--theme-light-yellow) 100%);
}

.page-bg-yellow {
  background-image: linear-gradient(to bottom, var(--theme-light-yellow) 0%, var(--theme-light-green) 100%);
}

.page-bg-green {
  background-image: linear-gradient(to bottom, var(--theme-light-green) 0%, var(--theme-light-blue) 100%);
}

.page-bg-white {
  background-color: var(--theme-white);
}

.styled-scrollbar {
  /* Foreground, Background */
  scrollbar-color: var(--theme-light-blue) transparent;
}

.styled-scrollbar::-webkit-scrollbar { /* Background */
  background: transparent;
  height: 0.5rem;
  width: 0.5rem;
}

.styled-scrollbar::-webkit-scrollbar-thumb { /* Foreground */
  background: var(--theme-light-blue);
  -webkit-border-radius: 1ex;
}


h1, h2 {
  font-family: var(--theme-font-title), Helvetica Neue, sans-serif;
}

h3, h4, h5, h6 {
  font-family: var(--theme-font-body), Helvetica Neue, sans-serif;
  font-weight: 600;
}

p {
  font-family: var(--theme-font-body), Helvetica Neue, sans-serif;
  color: var(--theme-black);
}

a {
  text-decoration: underline;
}

a:hover,
a:active {
  color: var(--theme-red);
}

a, button {
/*  cursor: url('../assets/cursor-pointer.svg'), url('../assets/cursor-pointer.png'), pointer;*/
}

footer a svg {
  transition: all ease-in 200ms;
}

footer a:hover svg path, footer a:focus svg path {
  fill: var(--theme-red);
}

header, .action-bar {
  background-color: rgba(255,255,255,.25);
  backdrop-filter: blur(10px);
  z-index: 99;
}

header a:hover svg path, header a:focus svg path, #main-menu a:hover svg path, #main-menu a:focus svg path {
  fill: var(--theme-red);
}

#main-menu {
/*  background-color: rgba(255,255,255, 1);*/
/*  backdrop-filter: blur(10px);*/
  z-index: 98;
}

@keyframes pulse {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.1) rotate(3deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

navbar .logo:hover img {
  animation: pulse 250ms ease-in-out;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.appear {
  animation: appear 350ms ease-in;
}

article ul {
  list-style: list;
  list-style-type: disc;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.article h2 {
  margin-top: 2rem;
}

.article h3 {
  margin-top: 1rem;
}

.article:last-of-type .divider {
  display: none;
}

@layer base {
  h1 {
    @apply text-5xl sm:text-6xl md:text-7xl mb-4 lg:mb-6;
  }

  h2 {
    @apply text-2xl md:text-3xl mb-2;
  }

  h3 {
    @apply text-xl mb-1 md:mb-2;
  }

  p {
    @apply mb-2;
  }

  small p {
    @apply mb-0;
  }
}

@layer components {
  .btn {
    @apply shadow text-black no-underline px-4 py-2 bg-red text-white inline-flex flex-nowrap items-center hover:bg-black hover:text-white hover:no-underline focus:no-underline transition-all duration-200;
  }

  .btn-red {
    @apply bg-red;
  }

  .btn-yellow {
    @apply bg-yellow text-black;
  }

  .btn-green {
    @apply bg-green;
  }

  .btn-blue {
    @apply bg-blue;
  }

  .btn-purple {
    @apply bg-purple text-white hover:bg-black hover:text-white;
  }

  .btn-white {
    @apply bg-slate-100 text-black hover:bg-slate-200;
  }

  .btn-clear {
    @apply border-none hover:text-red px-2 py-1;
  }
}

.map-infowindow .image {
  aspect-ratio: 1/1;
  width: 100px;
  max-width: 100%;
  background: var(--theme-light-purple);
}

.map-infowindow img {
  overflow: hidden;
  aspect-ratio: 1/1;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.map-infowindow {
  font-family: var(--theme-font-body);
  font-size: 0.75rem;
}

.map-infowindow .title {
  font-family: var(--theme-font-body);
  font-weight: 500;
  margin-top: 0.25rem;
}

.map-infowindow .location {
  font-family: var(--theme-font-body);
  font-size: 0.7rem;
}

@keyframes spin {
  0% { transform: rotate(-15deg); }
  10% { transform: rotate(15deg); }
  20% { transform: rotate(-20deg); }
  30% { transform: rotate(20deg); }
  40% { transform: rotate(-20deg); }
  100% { transform: rotate(360deg); }
}

.spinning {
  animation-name: spin;
  animation-duration: 750ms;
  animation-timing-function: ease-in;
  animation-direction: forward; 
  animation-iteration-count: infinite;
}

@keyframes appear {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

.appear {
  animation: appear 250ms ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;  
}

.markdown blockquote {
  border-left: 4px solid var(--theme-light-purple);
  padding-left: 12px;
}

.markdown blockquote * {
  color: #6c757d;
}

.markdown ul {
  list-style: inside;
  margin-bottom: 1rem;
}

.markdown ul li {
  margin-left: 1rem;
}

.article iframe {
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
}
