@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotateGrow {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ideaGenerator {

}

.result {
/*  margin-top: -20px;*/
}

.appear {
  animation: appear 250ms ease-in;
}

.modalCloseBtn {
  padding: 20px;
}

.generatorButton {
  height: 110px;
  width: 110px;
  margin-right: 10px;
}

.loading {
  animation: rotateGrow 300ms linear;
}

.spinning {
  animation: rotation 18s linear infinite;
}

.bgCaption {
  background-color: rgba(255, 255, 255, 0.6);
}

.img {
  max-width: unset;
}