.nav a {
  
}

.nav.active a {
	text-decoration: underline;
	text-decoration-color: var(--theme-blue);
}

.nav.isOver a {
	color: var(--theme-blue);
}

.nav.isOver a svg, .nav.active a svg {
	fill: var(--theme-blue);
}

.nav.isOver .stopDot {
	background-color: var(--theme-blue);
}

.stopDot {
	height: 11px;
	width: 11px;
	border-radius: 11px;
	background-color: var(--theme-black);
  transform: translateY(12px);
  margin: 5px;
}

.navButton {
	width: 70px;
	height: auto;
	touch-action: none;
	cursor: grab;
}

@keyframes appear {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}


.trainBtn .trainTooltip {
	background-color: var(--theme-blue);
	color: var(--theme-white);
	border-radius: 50px;
	padding: 2px 8px;
	opacity: 0;
	left: 18px;
	font-size: 15px;
	animation: appear 250ms linear 2s 1;
	animation-fill-mode: forwards;  
}