.nav a {
  background-color: transparent;
  transition: all ease-in 200ms;
  padding: 2px 8px;
  border-radius: 50px;
}

.nav.active a {
	background-color: var(--theme-green);
  padding: 2px 8px;
  border-radius: 50px;
  font-weight: 500;
}

.nav.isOver a {
	color: var(--theme-red);
}

.nav.isOver .stopDot {
	background-color: var(--theme-red);
}

.stopDot {
	height: 9px;
	width: 9px;
	border-radius: 9px;
	background-color: var(--theme-black);
  transform: translateY(15px);
}

.navButton {
	width: 70px;
	height: auto;
	touch-action: none;
}