.green {
  fill: var(--theme-green);
}

.blue {
  fill: var(--theme-blue);
}

.yellow {
  fill: var(--theme-yellow);
}

.red {
  fill: var(--theme-red);
}

.purple {
  fill: var(--theme-purple);
}

.flipped {
  transform: rotate(180deg);
}

.bgGreen {
  background-color: var(--theme-green);
  outline: 1px solid var(--theme-green);
}

.bgBlue {
  background-color: var(--theme-blue);
  outline: 1px solid var(--theme-blue);
}

.bgRed {
  background-color: var(--theme-red);
  outline: 1px solid var(--theme-red);
}

.bgYellow {
  background-color: var(--theme-yellow);
  outline: 1px solid var(--theme-yellow);
}

.bgPurple {
  background-color: var(--theme-purple);
  outline: 1px solid var(--theme-purple);
}